<div class = "form">

  <div>
      <input type="text"  placeholder="Enter your Name" id="name"[(ngModel)]="data1.name">

  </div>
  <div><input type="text" placeholder="Enter cellnumber" id="date" [(ngModel)]="data1.cellnumber"></div>
  <div><input type="text" placeholder="Enter City"  id="date" [(ngModel)]="data1.branch"></div>

  <div><input type="text" placeholder="Enter City"  id="date" [(ngModel)]="data1.city"></div>
  <div><button (click)="onUdate(data1)">Update</button></div>



</div>

